# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [19]:
#Assignment 1: Creating and Accessing Tuples
#Create a tuple with the first 10 positive integers. Print the tuple.

#tup=(1,2,3,4,5,6,7,8,9,10)
tup1=tuple(range(1,11))
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
#Assignment 2: Accessing Tuple Elements
#Print the first, middle, and last elements of the tuple created in Assignment 1

print(f"first element : {tup1[0]} ")
print(f"middle element : {tup1[len(tup1)//2]} ")
print(f"last element : {tup1[-1]} ")

first element : 1
middle element : 6
last element : 10

In [26]:
#Assignment 3: Tuple Slicing
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(f"first 3 element : {tup1[:3]} ")
print(f"last 3 element : {tup1[7:]} ")
print(f"index 2 to 5 element : {tup1[2:6]} ")

first 3 element : (1, 2, 3)
last 3 element : (8, 9, 10)
index 2 to 5 element : (3, 4, 5, 6)

In [32]:
#Assignment 4: Nested Tuples
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

tup2 = (
    (1,2,3),
    (3,4,5),
    (6,7,8)
       )
for i in tup2 :
  print(f"{i}",end=" ")
  print()
print(f"Element at 2nd row and 3rd col : {tup2[1][2]}")

(1, 2, 3)
(3, 4, 5)
(6, 7, 8)
Element at 2nd row and 3rd col : 5

In [33]:
#Assignment 5: Tuple Concatenation
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tup3 = (1,2,3)
tup4 = (4,5,6)
result = tup3 + tup4
print(result)

(1, 2, 3, 4, 5, 6)

In [45]:
#Assignment 6: Tuple Methods
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tup5=(1,2,3,4,4,5,6,6) #8

print(f"duplicate element 4  and 6 counted : {tup5.count(4)} and {tup5.count(6)}")
print(f"first occurence of  element 4  and 6 counted : {tup5.index(4)} and {tup5.index(6)}")

duplicate element 4  and 6 counted : 2 and 2
first occurence of  element 4  and 6 counted : 3 and 6

In [51]:
#Assignment 7: Unpacking Tuples
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tup6=(1,2,3,4,5)
a,b,c,d,e=tup6
print(a,b,c,d,e)

1 2 3 4 5

In [52]:
#Assignment 8: Tuple Conversion
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst=[1,2,3,4,5]
tup7=tuple(lst)
print(tup7)

(1, 2, 3, 4, 5)

In [58]:
#Assignment 9: Tuple of Tuples
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tup8=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
    )

print(tup8)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [81]:
#Assignment 10: Tuple and List
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tup9=tuple(range(1,6))

l9=list(tup9)
l9.append(6)
tup9=tuple(l9)
print(tup9)

(1, 2, 3, 4, 5, 6)

In [108]:
#Assignment 11: Tuple and String
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

s="atul"
tup10=tuple(s)
join=''.join(tup10)
print(join)

atul

In [110]:
#Assignment 12: Tuple and Dictionary
#Create a dictionary with tuple keys and integer values. Print the dictionary.

dict1={
   (1,2):0,
   (3,4):1,
   (5,6):2
   }

print(dict1)

{(1, 2): 0, (3, 4): 1, (5, 6): 2}

In [106]:
#Assignment 13: Nested Tuple Iteration
#Create a nested tuple and iterate over the elements, printing each element.

tuple1=((1,2,3),
        (4,5,6),
        (7,8,9))

for tup in tuple1:
  for t in tup:
    print(t)

1
2
3
4
5
6
7
8
9

In [111]:
#Assignment 14: Tuple and Set
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tup11 = (1,2,3,4,4,5,5,6,6,7)  #10

set1=set(tup11)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [117]:
#Assignment 15: Tuple Functions
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def minimum(tup):
  return min(tup)

def maximum(tup):
  return max(tup)

def summed(tup):
  return sum(tup)

tup12=(1,2,3,4,5,6)

print(f"Minimum : {minimum(tup12)}")
print(f"Maximum : {maximum(tup12)}")
print(f"sum     : {summed(tup12)}")

Minimum : 1
Maximum : 6
sum     : 21